* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #082032;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.header h1 {
  font-size: 52px;
  color: #ff4c29;
}

.header__search-bar {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
  padding: 0 100px;
}

.header__search-bar input {
  outline: none;
  padding: 10px;
  flex: 1;
}

img {
  cursor: pointer;
}

.footer {
  background-color: #d3d5d7;
  width: 100%;
  text-align: center;
  color: black;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin: 100px;
  padding: 0 50px;
  width: 100%;
}

.main__movie-card {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 450px;
  color: white;
  background-color: #2c394b;
}

.main__movie-card__poster img {
  width: 250px;
  height: 300px;
}

.main__movie-card__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-size: 10px;
  text-align: center;
}
